#include<stdio.h>
int main()
{
int a,b,c,g;
printf("entern the 3 numbers\n");
scanf("%d %d %d",&a,&b,&c);
g=(a>b)?a:b;
g=(g>c)?g:c;
printf("%d is the greatest number",g);
}
#include<stdio.h>
int main()
{
        int a,b,c;
        printf("enter the 3 different no\n");
                scanf("%d %d %d",&a,&b,&c);
        if(a>=b && a>=c)
                printf("%d",a);
        if(b>=a && b>=c)
                printf("%d",b);
        if(c>=a && c>=b)
                printf("%d",c);
        return 0;
}
#include<stdio.h>
int main()
{
        int a,b,c;
        printf("enter the 3 number");
        scanf("%d %d %d", &a,&b,&c);
        if(a>=b && a>=c)
                printf("%d",a);
        else if (b>=a && b>=c)
                printf("%d",b);
        else
                printf("%d",c);
        return 0;
}

